body {
background-color: #a9aae5;
}
h1 {   
color:  #dfdff1;
background-color: #3d3fc6;
font-size: 25px;
font-family:'Gabriela';
padding: 1rem 5rem;
margin: 0px 15px 20px 0;
border-radius: 10px;
width: 13in
}
h2{
color:  #22236D;
font-size: 30pt;
text-align: center;
font-family:'Gabriela';
padding-top: 1.5in;
text-decoration: center;
padding-bottom: .5in;
}
h3{
padding-bottom: 20px;
font-family:'sans-serif';
margin: .5in;
text-align: center;
color: #22236D;
font-size: 20pt;
font-weight: bold;
}
h4{
font-family:'sans-serif';
text-indent: .5in;
color: #22236D;
font-size: 20pt;
font-weight: bold;
max-width: 9in;
margin: auto;
}      
p{ 
padding-bottom: 1in;
font-family:'sans-serif';
text-indent: center;
text-align: center;
color: #22236D;
font-size: 15pt;
font-weight: bold
}
a{
color: #dfdff1;
text-decoration: none;
}
.link{
  margin: 1in 5px 20px 1in;
}
.link:hover {
background: #a9aae5;
text-decoration: underline;
}
div {
display: flex;
justify-content: center;
text-indent: 5in;
}
.img {
width: 50%;
}
hr{
height: 20px;
background-color: #3d3fc6;
width: 6in;
border-radius: 10px;
} 